## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.log
*.env

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project
project/target/

# Scala-IDE specific
.scala_dependencies
.worksheet

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
jars/*

# others
**/tdigests-map.ser
